runner
runner_hid
*.o
notes
first_*
dev_info.txt
thesis/*.aux
thesis/*.bcf
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.xml
thesis/*.toc
thesis/*.docx
thesis/*.dotx
thesis/*.dotx.bak
thesis/*.out
thesis/*.pdf
thesis/.vscode
.vscode
*.blg
*.bbl
